/*? global clearing */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');

.navbar-brand {
  font-family: 'Playfair Display', serif;
  color: antiquewhite;
}

.social-media a {
  color: white;
}
.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

.jumbotron h1 {
  font-family: 'Playfair Display', serif;
}

#about .aboutMe {
  font-family: 'Playfair Display', serif;
}

#projects {
  background-color: #e2edff;
}
#projects h2 {
  font-family: 'Playfair Display', serif;
}

#contact .contactTitle {
  font-family: 'Playfair Display', serif;
}

section {
  padding-top: 6rem;
}
